<h1>{{name}}</h1>
<dl>
  <dl>Nombre: </dl>
  <dd>{{name}}</dd>

  <dl>Edad: </dl>
  <dd>{{age}}</dd>

  <dl>Metodo: </dl>
  <dd> {{ getHeroDescription() }}</dd>

  <dl>Capitalizado: </dl>
  <dd>{{capitalizedName}}</dd>
</dl>

<button
  *ngIf="name !== 'Spiderman'"
  (click)="changeHero()"
  class="btn btn-primary mx-2">
  Cambiar nombre
</button>

<button
  *ngIf="age !== 25"
  (click)="changeAge()"
  class="btn btn-primary">
  Cambiar edad
</button>

<button
  (click)="resetForm()"
  class="btn btn-primary mx-2">
  Reset
</button>
